html
    head
        link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet" href="stylesheets/style.css")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="javascripts/ESBoard.js")
        script(src="javascripts/EventBus.js")


    body
        div(style="margin-bottom: 10px;")
            span(style="font-family: sans-serif; font-size: 24pt; font-style: bold;") Nevera
            span(style="margin-left: 1em") distributed event-storming

        table(style="margin-bottom: 20px")
            each board in boards
                tr
                    td
                        a(href='/boards/' + board.id) #{board.name}
                    td  #{board.id}
            else
                span no boards yet


        form(method='post', action="/boards")
            span
                input(type="text", name="name")
                button Create Board
