html
    head
        link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet" href="//jscrollpane.kelvinluck.com/style/jquery.jscrollpane.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Coming+Soon")


        link(rel="stylesheet" href="/stylesheets/style.css")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="//jscrollpane.kelvinluck.com/script/jquery.mousewheel.js")
        script(src="//jscrollpane.kelvinluck.com/script/jquery.jscrollpane.min.js")
        script(src="/javascripts/ESBoard.js")
        script(src="/javascripts/EventBus.js")
        script(src="/javascripts/StyleChooser.js")




    body
        h1#boardName(contenteditable='true') #{name}
        a(style="float: right" href="/boards") back
        section#styles
            span#event Event
            span#command Command
            span#role Role
            span#aggregate Aggregate
            span#readmodel Read Model
            span#policy Policy
            span#system External System
            span#issue Issue
            span#remark Remark


        div(class='scroll-pane horizontal-only')
            div#canvas()
        script().
            const styleChooser = new StyleChooser("#styles")
            const wsProto = location.protocol === 'http:' ? "ws" : "wss"
            const eventBus = new EventBus(wsProto + "://" + location.host + "/ws/" + "#{boardId}");

            new ESBoard("#canvas", eventBus, styleChooser);


        script().
            $(function () {
                $('.scroll-pane').jScrollPane({showArrows: true});
                $("#welcome").dialog({
                    dialogClass: "no-close",
                    title: "Notice"
                }).click(function() {
                    $(this).dialog("close");
                });
            });

        div#welcome(style="display:none;")
            p.
                Use Ctrl-Click to place sticky-notes.